<p style="margin-bottom: 25px">Thank you for signing up to our website.</p>

<p>The sign up was successful. However, we could not sign you in because your account is not yet activated. </p>

<p style="margin-top: 25px">
Respectfully,</br>
The Administrators</br>
</p>
  